@use 'selectors';
@forward "stuff/chat";
@forward "stuff/server-list";
@forward "stuff/channel-list";
@forward "stuff/channel-bar";
@forward "stuff/member-list";
@forward "stuff/settings";
@forward "stuff/friends";
@forward "stuff/other";

@import url("https://nyri4.github.io/donators/donators.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito");

// Donators
#{selectors.$profileBadges} > :last-child::before,
#{selectors.$badgeList} > :last-child::before {
	z-index: 10;
}

// Right popout
@media (min-width: 1350px) {
	#{selectors.$userPanelOuter}, /* user profile in dms */
	#{selectors.$memberListContainer}, /* member list */
	#{selectors.$nowPlayingColumn}, /* friends activity */
	#{selectors.$layers} > #{selectors.$layer} > #{selectors.$container}::after,
	#{selectors.$layers} > #{selectors.$layer} > #{selectors.$container}::before { /* empty thing */
		position: fixed;
		top: 220px;
		bottom: 85px;
		right: 60px;
		width: 320px;
		height: unset;
	}

	#{selectors.$nowPlayingColumn},
	#{selectors.$memberListContainer} {
		top: 280px;
		bottom: 120px;
	}

	#{selectors.$nowPlayingColumn},
	#{selectors.$membersWrap} {
		// Header
		&::before {
			content: "Member list";
			position: absolute;
			top: -60px;
			z-index: 1;
			width: 100%;
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 20px;
			font-weight: bolder;
			color: var(--header-primary);
			background-color: var(--background-secondary);
			border-radius: var(--border-radius) var(--border-radius) 0 0;
		}

		// Footer
		&::after {
			content: "";
			position: absolute;
			bottom: -35px;
			z-index: 1;
			width: 100%;
			height: 35px;
			background-color: var(--background-secondary);
			border-radius: 0 0 var(--border-radius) var(--border-radius);
			background-image: linear-gradient( to right, var(--header-primary) 33%, rgba(255, 255, 255, 0) 0%);
			background-position: top;
			background-size: 21px 2px;
			background-repeat: repeat-x;
		}
	}

	#{selectors.$nowPlayingColumn} {
		#{selectors.$scroller} {
			border-left: none;
			margin-left: 0;
		}
		// Header
		&::before {
			content: "Member list";
		}
	}

	#{selectors.$members} {
		border-radius: var(--border-radius) 0 0;
	}

	#{selectors.$tabBody} { // wrapper around friend list in starting screen
		transform: none;
	}

	// settings
	#{selectors.$layers} > #{selectors.$layer}:nth-child(2) {
		margin-right: 450px;
	}

	#{selectors.$layers} > #{selectors.$layer} > #{selectors.$container} {
		margin-right: 450px;
		// Basic right popout when there's nothing
		&::after {
			content: "Stay comfy";
			z-index: -2;
			background-color: var(--background-primary);
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 30px;
			color: var(--text-normal);
			border-radius: var(--border-radius);
			overflow: hidden;
		}

		&::before {
			content: "";
			right: 70px;
			z-index: -1;
			width: 300px;
			border-radius: var(--border-radius);
			background: var(--jumping-gif) bottom/40% no-repeat;
		}
	}

	// Adding space for right popout
	#{selectors.$guilds} + :nth-child(2) {
		margin-right: 450px;
		border-radius: 0 var(--border-radius) var(--border-radius) 0;
	}


	// User area
	#{selectors.$panels} > :last-child {
		position: fixed;
		display: flex;
		width: 305px;
		height: 50px;
		bottom: 28px;
		right: 60px;
		justify-content: space-between;
		background-color: var(--background-primary);
		border-radius: var(--border-radius);

		#{selectors.$avatarWrapper} {
			border-radius: var(--border-radius);
		}
	}

	// TODO: NOT UPDATED - what was this ???
	.container__037ed {
		overflow: visible;
	}

	#{selectors.$membersWrap} > #{selectors.$members} {
		width: 100%;
		background-color: var(--background-primary);

		& > #{selectors.$content} {
			min-height: 1000px;
			background-color: transparent;
		}
		[role='list'] > div#{selectors.$member} {
			max-width: 300px;
			border-radius: var(--border-radius);
			background-color: var(--background-primary);
		}
	}
}
