%general
	--bg-overlay-1: var(--background-primary)
	--bg-overlay-2: var(--background-secondary)
	--bg-overlay-3: var(--background-secondary-alt)
	--bg-overlay-4: var(--background-secondary) !important
	--background-mod-subtle: var(--background-secondary) !important
	--bg-base-tertiary: var(--background-tertiary) !important
	--custom-channel-members-bg: var(--background-secondary) !important
	--chat-background-default: var(--background-secondary) !important
	--background-base-low: var(--background-secondary-alt) !important
	--background-base-lower: var(--background-primary) !important
	--background-base-lowest: var(--background-tertiary) !important
	--background-surface-high: var(--background-secondary) !important
	--background-surface-higher: var(--background-floating) !important
	--channeltextarea-background: var(--background-secondary)
	--input-background: var(--background-secondary)


%dark-theme
	// Text
	--text-normal: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))), white 80%)
	--text-primary: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))), white 75%) !important
	--header-primary: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))), white 70%)
	--interactive-normal: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))), #F0F0F0 60%)
	--channels-default: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))), white 80%)

	--text-muted: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))), #F0F0F0 70%)
	--interactive-muted: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))), #D8D8D8 50%)

	--header-secondary: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))), white 65%)
	--interactive-hover: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))), #D0D0D0 60%)
	--interactive-active: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))), white 75%)

	// Background color
	--background-primary: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))) 86%, black)
	--background-secondary: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))) 65%, black)
	--background-secondary-alt: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))) 53%, black)
	--background-tertiary: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))) 31%, black)
	--background-floating: color-mix(in srgb, var(--base-color-dark, var(--base-color, var(--preset-red))) 30%, black)
	--background-accent: #c5536c
	--modal-background: var(--background-primary)
	--background-modifier-hover: #ffffff08
	--background-modifier-active:  #fff2
	--background-modifier-selected: #fff1
	--toast-background: #5e3640 !important
	--toast-header: #3b1d24 !important
	--toast-contents: #49292f !important
	--toast-border: #49292f !important

	// Scrollbar
	--scrollbar-auto-thumb: var(--background-tertiary)
	--scrollbar-auto-track: var(--background-secondary-alt)
	--scrollbar-thin-thumb: var(--background-tertiary)
	--scrollbar-thin-track: transparent

	// Message highlighting
	--replying-foreground: hsl(from var(--background-primary) calc(h - 90) 100 45)
	--info-warning-foreground: hsl(from var(--background-primary) calc(h + 51) 100 50)
	--background-message-highlight: color-mix(in oklab, var(--background-primary), var(--replying-foreground) 20%)
	--background-mentioned: color-mix(in oklab, var(--background-primary), var(--info-warning-foreground) 15%)
	--background-replying-hover: color-mix(in oklab, var(--background-message-highlight), #fff 6.25%)
	--background-mentioned-hover: color-mix(in oklab, var(--background-mentioned), #fff 6.25%)

	// Other
	--channel-text-area-placeholder: var(--interactive-normal)

	// Preset colors
	--preset-pink: #632D46
	--preset-red: #6E3F4A
	--preset-orange: #5E2E16
	--preset-yellow: #5D4A1F
	--preset-green: #2F4626
	--preset-turquoise: #245150
	--preset-blue: #1E305B
	--preset-purple: #472A5E

	@extend %general


%light-theme
	// Text
	--text-normal: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))), #606060 75%) !important
	--text-primary: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))), #303030 75%) !important
	--header-primary: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))), #606060 60%) !important
	--interactive-normal: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))), #606060 65%) !important
	--channels-default: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))), #303030 70%) !important

	--text-muted: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))), #808080 70%) !important
	--interactive-muted: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))), #909090 50%) !important

	--header-secondary: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))), #606060 50%) !important
	--interactive-hover: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))), #606060 50%) !important
	--interactive-active: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))), #303030 75%) !important

	// Background color
	--background-primary: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))) 10%, white) !important
	--background-secondary: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))) 15%, white) !important
	--background-secondary-alt: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))) 47%, white) !important
	--background-tertiary: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))) 55%, white) !important
	--background-floating: color-mix(in srgb, var(--base-color-light, var(--base-color, var(--preset-red))) 40%, white) !important
	--background-accent: color-mix(in sRGB, var(--base-color-light, var(--base-color, var(--preset-red))), black 30%) !important
	--background-modifier-hover: #00000008
	--background-modifier-active:  #0002
	--background-modifier-selected: #0001

	// Scrollbar
	--scrollbar-auto-thumb: var(--background-tertiary)
	--scrollbar-auto-track: var(--background-secondary-alt)
	--scrollbar-thin-thumb: var(--background-tertiary)
	--scrollbar-thin-track: transparent

	// Message highlighting
	--replying-foreground: hsl(from var(--background-primary) calc(h - 90) 100 45)
	--info-warning-foreground: hsl(from var(--background-primary) calc(h + 51) 100 50)
	--background-message-highlight: color-mix(in oklab, var(--background-primary), var(--replying-foreground) 15%)
	--background-mentioned: color-mix(in oklab, var(--background-primary), var(--info-warning-foreground) 15%)
	--background-replying-hover: color-mix(in oklab, var(--background-message-highlight), #000 6.25%)
	--background-mentioned-hover: color-mix(in oklab, var(--background-mentioned), #000 6.25%)
	
	// Preset colors
	--preset-pink: #F766A8
	--preset-red: #FD8787
	--preset-orange: #E6803D
	--preset-yellow: #FDD046
	--preset-green: #5E9846
	--preset-turquoise: #41C7C1
	--preset-blue: #3E64C7
	--preset-purple: #9050B8

	@extend %general


.theme-dark,
.theme-darker,
.theme-midnight,
.visual-refresh.theme-dark,
.visual-refresh.theme-darker,
.visual-refresh.theme-midnight,
.theme-dark.user-profile-sidebar,
.theme-darker.user-profile-sidebar,
.theme-midnight.user-profile-sidebar
	@extend %dark-theme

.theme-light,
.visual-refresh.theme-light,
.theme-light.user-profile-sidebar
	@extend %light-theme

.visual-refresh
	@extend %general

