$app-mount: "html.visual-refresh > body > div#app-mount"
$app-content: "#{$app-mount} div.content_c48ade"

$settings: "#{$app-mount} div.standardSidebarView__23e6b"
$settings-tabs-sidebar: "#{$app-mount} div.sidebarRegion__23e6b"
$settings-tabs-sidebar-scroller: "#{$app-mount} div.sidebarRegionScroller__23e6b"
$settings-tabs-content: "#{$app-mount} div.contentRegion__23e6b"
$settings-tabs-content-scroller: "#{$app-mount} div.contentRegionScroller__23e6b"

$sidebar: "#{$app-mount} div.sidebar_c48ade"
$server-sidebar: "#{$app-mount} nav.wrapper_ef3116"
$server-sidebar-scroller: "#{$app-mount} div.scroller_ef3116"
$server-sidebar-dm-button: "#{$app-mount} div.childWrapper__6e9f8"
$server-sidebar-server-wrapper: "#{$app-mount} div.blobContainer_e5445c"
$server-sidebar-server-icon: "#{$app-mount} div.wrapper__6e9f8"
$server-sidebar-server-folder-preview: "#{$app-mount} div.icon_f34534"
$server-sidebar-server-badge: "#{$app-mount} div.lowerBadge_cc5dd2"
$server-sidebar-server-badge-mask: "#{$app-mount} svg.svg_cc5dd2 > mask > use:nth-child(2)"

$channel-sidebar: "#{$app-mount} div.sidebarList_c48ade"

$user-panel: "#{$app-mount} section.panels_c48ade"

$chat: "#{$app-mount} div.chat_f75fb0"
$chat-subtitle: "#{$app-mount} div.subtitleContainer_f75fb0"
$chat-main: "#{$app-mount} main.chatContent_f75fb0"
$chat-textarea: "#{$app-mount} div.channelTextArea_f75fb0"
$chat-textbox: "#{$app-mount} div.scrollableContainer__74017"
$chat-reply-container: "#{$app-mount} div.stackedBars__74017"

$replying-message-highlight: "#{$app-mount} .replying__5126c"
$mentioned-message-highlight: "#{$app-mount} .mentioned__5126c"