$app-mount: html.visual-refresh > body > div#app-mount
$app-content: $app-mount div.content_c48ade

$replying-message-highlight: $app-mount .replying__5126c
$mentioned-message-highlight: $app-mount .mentioned__5126c

$settings: $app-mount div.standardSidebarView__23e6b
$settings-tabs-sidebar: $settings div.sidebarRegion__23e6b
$settings-tabs-sidebar-scroller: $settings-tabs-sidebar div.sidebarRegionScroller__23e6b
$settings-tabs-content: $settings div.contentRegion__23e6b
$settings-tabs-content-scroller: $settings-tabs-content div.contentRegionScroller__23e6b

$sidebar: $app-content div.sidebar_c48ade
$server-sidebar: $sidebar nav.wrapper_ef3116
$server-sidebar-scroller: $server-sidebar div.scroller_ef3116
$server-sidebar-dm-button: $server-sidebar-scroller div.childWrapper__6e9f8