@use '../selectors';
:root #{selectors.$content}[aria-label*="Channels"] #{selectors.$sidebar} {
	border-radius: 0;
	// Channels
	#{selectors.$scroller} #{selectors.$wrapper},
	.container-32HW5s { // TODO
		border-radius: var(--border-radius);
		overflow: hidden;
	}

	// Voice call
	.content__07f91 { // TODO: dont have friends, nobody can call me
		border-radius: var(--border-radius);
	}

	// SCTR connection
	.container__13b2a .header-2C89wJ { // TODO
		background-color: var(--background-tertiary);
	}
	.container__13b2a section { // TODO
		background-color: var(--background-secondary);
	}

	.container__2637a > .scroller__629e4 > .content__99f8c > div:first-child[style="height: 16px;"] { // TODO
		display: none;
	}
}
