@use '../selectors';
:root {
	// Adding a custom font
	::-webkit-input-placeholder,
	body,
	button,
	input,
	select,
	textarea {
		font-family: "Nunito" !important;
	}

	// Background
	#{selectors.$app} > #{selectors.$app} > #{selectors.$bg} {
		background: var(--background-tertiary-alt);
		background-size: cover;
		background-repeat: no-repeat;
	}

	// Windows button
	.winButton__421ed {
		background-color: var(--background-primary);

		&:last-child {
			border-bottom-left-radius: 8px;
		}
	}

	// More border radius
	button,
	input,
	textarea,
	.menu_c1e9c4 { // TODO: what was this?
		border-radius: var(--border-radius) !important;
	}

	// -- Better menus --
	.menu_c1e9c4 { // TODO: what was this?
		overflow: hidden;
	}

	.scroller_c1e9c4 { // TODO: what was this? (+everything inside)
		padding: 0;

		&::-webkit-scrollbar,
		.separator_c1e9c4 {
			display: none;
		}
		.item_c1e9c4 {
			flex-direction: row-reverse;
			padding: 10px 10px 10px 13px;
			margin: 0;
			transition: 0.15s;
			border-radius: 0;

			.hintContainer_c1e9c4 {
				margin: 0 8px 0 0;
			}

			.iconContainer_c1e9c4,
			.imageContainer_d90b3d {
				margin: 0 8px 0 0;
			}
		}

		// Submenu
		.submenuPaddingContainer_c1e9c4 {
			margin: 0 -8px;
		}
	}

	// Modals
	#{selectors.$layer} #{selectors.$focusLock} {
		.modal__7f8f5, // TODO: what were these? 
		& > #{selectors.$root},
		.uploadModal_dbca3c { // TODO: what were these?
			border-radius: var(--border-radius);
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
			// Custom status modal
			#{selectors.$select},
			#{selectors.$popout} {
				border: none;
			}
			#{selectors.$select},
			#{selectors.$popout},
			#{selectors.$input_} {
				background-color: var(--background-secondary-alt);
			}
		}

		div#{selectors.$footer} {
			border-radius: 0 0 var(--border-radius) var(--border-radius);
			background-color: var(--background-tertiary);
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
		}
	}

	// User profile
	#{selectors.$accountProfilePopoutWrapper} {
		left: -15px;
		bottom: -5px;

		#{selectors.$userPopoutOverlayBackground} {
			backdrop-filter: unset;
		}

		#{selectors.$nameTag} {
			position: static !important;
		}
	}

	// TODO: everything below (200 lines)
	
	// Delete Discord wordmark
	.titleBar__421ed .wordmark__421ed {
		display: none;
	}

	// Colored emoji
	.sprite__04eed {
		filter: none !important;
	}

	// Create a server popout
	.header-1c1AhF {
		overflow-x: visible;
	}

	.categoryItem-1QIroW .itemInner-gPkiWb {
		background-color: transparent;
	}
	.pageWrapper_a3a4ce {
		background-color: var(--background-primary);
	}
	.notice_c5cd6a {
		border-top-left-radius: 0;
		background-color: var(--background-tertiary);
	}
	.button_c5cd6a:hover {
		background-color: transparent;
	}
	.headerImage-2D5D-v,
	.card_e90879 {
		border-radius: var(--border-radius);
	}

	// Call tile
	.tile__90dc5 {
		background-color: var(--background-secondary-alt);
		border-radius: var(--border-radius);

		.button_c6e099 {
			background-color: var(--background-accent);
		}
	}

	// Joining message
	.contentWrapper__9b0f4 {
		background: var(--background-secondary);
	}

	// Keyboard shortcuts
	.keyboardShortcutsModal_f061f6 {
		background: var(--background-secondary);
	}

	// Discord game
	.scroller__7dda4 {
		background: var(--background-primary);
	}
	.whyYouMightLikeIt__0f50c,
	.content_f1d99d,
	.bodySection_ae0d90,
	.row_c85137 {
		background: var(--background-secondary);
	}

	// Tooltips
	.toolbar_bba883 {
		display: flex !important;
		background-color: var(--background-secondary-alt);

		&::before {
			border-top: 8px solid var(--background-secondary-alt);
		}

		.button_bba883 {
			background-color: transparent !important;
		}
	}

	// New community home
	.header__0b563,
	.container__0b563,
	.emptyPage__5d7c9,
	.pageBody__41ed7,
	.background__7449f,
	.scrollerContainer_c6b11b {
		background-color: var(--background-primary);
	}
	.row_d13feb,
	.channelRow_e4503a {
		background-color: var(--background-secondary);
	}
	.emptyContainer__5d7c9 > .emptyIcon__5d7c9 {
		& > circle {
			fill: var(--interactive-normal);
		}
		& > path {
			fill: var(--background-accent);
			stroke: var(--background-accent);
		}
	}
	.brand_b3f026.item_b3f026:active,
	.brand_b3f026.selected_b3f026.item_b3f026 {
		border-bottom-color: var(--background-accent);
	}
	.checkbox_f525d3 {
		background-color: var(--background-secondary) !important;
		border-color: var(--background-accent) !important;

		&.checked_f525d3 {
			background-color: var(--background-accent) !important;

			& > svg > path {
				fill: #FFF;
			}
		}

		& > svg > path {
			fill: transparent;
		}
	}

	.container__87bf1.checked__87bf1 {
		background-color: var(--background-accent) !important;

		& path {
			fill: var(--background-accent) !important;
		}
	}

	// Loading screen
	.ready_a2f514 {
		display: none;

		& + .text_a2f514 {
			top: 82px;

			&::before {
				content: "";
				position: absolute;
				bottom: 100px;
				left: 50px;
				width: 200px;
				height: 200px;
				background: var(--jumping-gif) center/80% no-repeat;
			}
		}
	}

	.container__87bf1[style*="background-color: var(--green-360)"] {
		background-color: var(--background-accent) !important;

		& path {
			fill: var(--background-accent) !important;
		}
	}

	// -- ✔️ Plugin support --

	// PermisssionViewer support
	#permissions-modal-wrapper #permissions-modal {
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
		0 0 0 1px rgba(56, 31, 31, 0.11) !important;
		border-color: var(--background-tertiary) !important;
	}
	#permissions-modal-wrapper .header {
		background: var(--background-tertiary) !important;
		text-align: center !important;
	}
	#permissions-modal-wrapper .role-side,
	#permissions-modal-wrapper .perm-side {
		background: var(--background-secondary) !important;
	}

	// Member Count support
	#MemberCount {
		width: 320px;
	}

	@media (max-width: 1350px) {
		#MemberCount {
			background-color: var(--background-primary);
		}
	}

	@media (min-width: 1350px) {
		#MemberCount .membersGroup_c8ffbb {
			padding-top: 12px;
		}
	}

	// Vencord
	.vc-settings-tab-bar {
		border-color: var(--background-secondary);
	}

	.vc-settings-card, .vc-settings-quick-actions-card {
		border: none;
	}

	.vc-settings-tab-bar-item.item_b3f026 {
		border-radius: 0 !important;
	}

	.vc-settings-theme-links {
		background-color: var(--background-secondary);
		border: none;
	}

	.vc-addon-card {
		border-radius: var(--border-radius);
	}
}
