@use '../selectors';
:root {
	#{selectors.$guilds} > ul >  #{selectors.$scroller} {
		padding: 8px 0 130px 0;

		#{selectors.$wrapper} foreignObject {
			mask: none;
			border-radius: var(--border-radius);
			transition: border-radius 0.15s;

			&:hover {
				border-radius: calc(var(--border-radius) - 5px);
			}
			#{selectors.$folder} {
				background-color: transparent;
			}
		}


		// Discover + create a server buttons
		#{selectors.$circleIconButton} {
			color: var(--background-accent);
			background-color: var(--background-secondary-alt) !important;
		}
	}
}
// TODO: everything below here (70 lines)

.theme-light {
	.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
	.wrapper__8436d:hover .childWrapper_a6ce15 {
		background-color: var(--text-normal);
	}
}

.theme-dark {
	.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
	.wrapper__8436d:hover .childWrapper_a6ce15 {
		background-color: var(--background-primary);
	}
}

// Server radius
.wrapperSimple_cc5dd2,
.folderIconWrapper-226oVY,
.folderIconWrapper-1_bOZe,
.expandedFolderBackground-2sPsd-,
.flexChild__7c0ba .avatarUploaderInner-yEhTv5 {
	border-radius: var(--border-radius);
}

.panels_c48ade {
	z-index: unset;
}

// Game panel
.panel__5dec7 {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 56px;
	border-bottom: none;
	background-color: var(--background-tertiary);
	transition: width 0.35s;

	.gameWrapper__5dec7 {
		margin-left: 12px;
	}

	.info__5dec7,
	.actions_bf1a22 {
		opacity: 0;
	}

	&:hover {
		width: 274px;
		margin: 8px;
		z-index: 1;
		border-radius: 5px var(--border-radius) var(--border-radius) 5px;
		border-left: 5px solid var(--background-accent);
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
		0 0 0 1px rgba(56, 31, 31, 0.11);

		.gameWrapper__5dec7 {
			margin-left: 0;
		}
		.info__5dec7,
		.actions_bf1a22 {
			opacity: 1;
		}
	}
}
