@use '../selectors';
:root {
	// Right friend list
	#{selectors.$privateChannels} {
		#{selectors.$interactive} {
			border-radius: var(--border-radius);
		}
	}

	// Friend list
	main#{selectors.$container}[aria-label="Friends"] {
		background-color: var(--background-primary);

		#{selectors.$searchBar} {
			background-color: var(--background-secondary);
		}

		#{selectors.$upperContainer} > #{selectors.$children}:after {
			content: none;
		}
		#{selectors.$peopleColumn} {
			background: unset;
		}

		#{selectors.$peopleListItem} {
			border-radius: var(--border-radius);
			border-top: none;
			background: var(--background-modifier-hover);
			margin: 8px 10px 8px 20px;
			padding: 16px 10px;

			&:hover #{selectors.$actionButton} {
				background-color: var(--background-secondary-alt);
			}
		}
	}

	// Friend call
	.nowPlayingColumn_c2739c .scroller_bf550a { // TODO: update
		border: none;
	}
	.controlButton_b6e2f9 foreignObject { // TODO: update
		mask: none;
	}
	.colorable_ef18ee.primaryDark_ef18ee { // TODO: update
		background-color: var(--background-primary);
	}
	.wrapper_d880dc { // TODO: update
		background-color: var(--background-tertiary);
	}

	// Friend activity
	#{selectors.$nowPlayingColumn} {
		#{selectors.$inset} {
			background-color: var(--background-primary);
		}
		.separator_cd82a7 { // TODO: what was this? cant find any separators?
			display: none;
		}
		.voiceSectionIconWrapper_cd82a7 {
			background-color: var(--background-tertiary);
		}
		#{selectors.$outer}#{selectors.$interactive}:hover {
			background-color: var(--activity-card-background);
		}
		#{selectors.$itemCard} {
			border: none;
			border-radius: var(--border-radius);

			#{selectors.$body} {
				border-radius: calc(var(--border-radius) - 10px);
			}
		}
	}
	// Regionnal selector friend call // TODO
	.quickSelectPopout_abbf45.regionSelectPopout_ccb5ca {
		background-color: var(--background-secondary-alt);
	}

	.profilePanelConnections_b433b4 {
		background-color: transparent;
	}
}
